<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            width: 200px;
            border: solid 1px red;
            background: blue;

        }
    </style>
    
</head>
<body bgcolor="yellow">
    <center>
        <h1>this is venkat </h1>
        <h2>{{course}}</h2>
        <h2>{{roll}}</h2>
    </center>
    
</body>
</html>